<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ookii.Dialogs" version="1.0" targetFramework="net461" />
  <package id="SharpDX" version="2.6.3" targetFramework="net451" />
  <package id="SharpDX.D3DCompiler" version="2.6.3" targetFramework="net451" />
  <package id="SharpDX.Direct3D11" version="2.6.3" targetFramework="net451" />
  <package id="SharpDX.Direct3D11.Effects" version="2.6.3" targetFramework="net451" />
  <package id="SharpDX.DXGI" version="2.6.3" targetFramework="net451" />
</packages>